{
  "root": true,
  // "parser": "@typescript-eslint/parser",
  // "plugins": ["@typescript-eslint", "sonarjs", "jest", "prettier"],
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:jest/recommended",
    "plugin:sonarjs/recommended",
    "plugin:@typescript-eslint/strict-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    // "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": 0
  }
}
